@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sfpro";
  src: url("/fonts/sfpro.woff2");
}
@font-face {
  font-family: "bard";
  src: url("/fonts/bard.woff2");
}
@font-face {
  font-family: "wedd";
  src: url("/fonts/wedd.woff2");
}

@layer base {
  .font-bard {
    font-family: bard;
  }
  .gradient-cool {
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    background: url("/gradient/cool.png");
    background-clip: text;
    background-size: 100% 100%;
  }
  .gradient-full {
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    background: url("/gradient/full.png");
    background-clip: text;
    background-size: 100% 100%;
  }

  .bg-primary {
    background-color: rgb(0 0 0);
  }
  .bg-primary:hover {
    background-color: rgb(0 0 0);
  }
}
