@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'bard';
    src: url('/fonts/bard.woff2');
}
@font-face {
    font-family: 'sfpro';
    src: url('/fonts/sfpro.woff2');
}
@layer base {
    .font-bard {
        font-family: bard;
    }
    .font-sf {
        font-family: sfpro;
    }
    .gradient-cool {
        -webkit-text-fill-color: transparent;
        box-decoration-break: clone;
        background: url('/gradient/cool.png');
        background-clip: text;
        background-size: 100% 100%;
    }
    .gradient-full {
        -webkit-text-fill-color: transparent;
        box-decoration-break: clone;
        background: url('/gradient/full.png');
        background-clip: text;
        background-size: 100% 100%;
    }
}